
{{#if imageurl}}
<div class='card2'>
       <h4>Image of the Day</h4>
        
      </div>
      
        <div class='center'>
        <div class='card' >
          {{#if imageurl.url.endsWith('.jpg') or imageurl.url.endsWith('.jpeg') or imageurl.url.endsWith('.png') or imageurl.url.endsWith('.gif')}}
  <img 
          src={{imageurl.url}}
          alt={{imageurl.title}}
          class='space'
        />
{{else}}
 <video src="{{imageurl.url}}" alt="{{imageurl.title}}" controls class='space'></video>
{{/if}}
        <img 
          src={{imageurl.url}}
          alt={{imageurl.title}}
          class='space'
        />
        <h6>{{imageurl.title}}</h6>
        {{imageurl.explanation}}
        
      </div>
</div>
{{/if}}