
{{#if img}}
<div class='card2'>
       <h4>Image of the Day</h4>
        
      </div>
      
        <div class='center'>
        <div class='card' >
        <img 
          src={{img.url}}
          alt={{img.title}}
          class='space'
        />
        <h5>{{img.title}}</h5>
        {{img.explanation}}
        
      </div>
</div>
{{else}}
<div class='card2'>
       <h4>Video of the Day</h4>
        
      </div>
      
        <div class='center'>
        <div class='card' >
        <iframe src={{vid.url}} width="640" height="360" frameborder="0" allowfullscreen></iframe>
        <h5>{{vid.title}}</h5>
        {{vid.explanation}}
        
      </div>
</div>
{{/if}}